# Node.js
node_modules/
npm-debug.log*

# Build output
dist/
build/
build_cache/

# Runtime generated (auto-created on first run)
logs/
update/
download/
config.json
port.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
